<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title size="large">
      لاتصال بنا
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content> 
  <ion-grid > 
 
 <ion-row>
   <ion-col >
الهاتف
   </ion-col> 
 </ion-row>
 <ion-row> 
  <ion-col>
    37493029
  </ion-col>
</ion-row>
<ion-row>
  <ion-col >
الواتساب
  </ion-col>
</ion-row>
<ion-row> 
  <ion-col>
    37493029
  </ion-col>
</ion-row>
</ion-grid>
 
 
  


 
 
 
</ion-content>
 