<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title size="large"> 
      عن التطبيق
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content> 
 <p>
   يتم تطوير هذا التطبيق و تطبيقات مماثلة لتسهيل عمل الناشطين في مجال تحويل الاموال في موريتانيا
 </p>
 <p>
   يتم تطوير مجموعة التطبيقات هذه برعاية مؤسسة 
<span>
  <strong>
    SOMV-sarl
  </strong>
</span>
 </p>
 <div>

  <p>
    سيتم التطوير ان شاء الله تعالي علي عدة مراحل ليلبي جميع الحاجات لدي الفاعلين في المجال
  </p>
  <h3>
    اسم التطبيق
  </h3>
  <p>
    tahwil-app
  </p>
  <h3>
    نسخة التطبيق
  </h3>
  <p> version:1</p>
  <h3>
  من المهام التي يمكن للتطبيق القيام بها في نسخته الحالية 
  </h3>
  <p>
    تسجيل الرسائل الصادرة والواردة
  </p>
  <p>
    البحث في الرسائل حسب التاريخ/الهاتف/المبلغ لايجاد رسالة معينة
  </p>
  <p>
    تسجيل دفع/سحب من الصندوق 
  </p>
  <p>
    تسجيل دفع/سحب في ميزان المعاملة مع المؤسسة 
  </p>
  <p>
    يعد التطبيق عند الطلب تقريرا عن حالة الصندوق في يوم معين
  </p>
  <p>
    
    يعد التطبيق عند الطلب تقريرا عن حالة المعاملة مع المؤسسة في يوم معين
  </p>
  <p>
    
     يعد التطبيق عند الطلب تقريرا عن الفائدة المتحصل عليها خلال مجال زمني معين
  </p>
  <p>
    التحكم في جميع البيانات المدخلة حيث يمكن حذفها كليا او جزئيا وكذالك يمكن التعديل عليها
  </p>
  <p>
    تجدر الأشارة الي أن التطبيف يعتبر  أن كل شهر وحدة مستقلة 
  </p>
  <p>
    افضل طريفة لفهم عمل البرنامج هي تجربته
  </p>
  <h3>
    من المهام التي سيكون التطبيق قادرا علي القيام بها  نذكر   
  </h3>
  <p>
    تسيير الوادئع
  </p>
  <p>
 حفظ نسخة من البيانات مستقلة عن التطبيق بصيغ مختلفة منها 
  </p>
  <p>
    pdf,excel, csv, json
  </p>
  <p>
 وبالتالي امكانية سحب الجداول والتقارير المعدة علي اوراق
  </p>
  <p>
    اضافة امكانية التعامل مع عدة مؤسسات من خلال تطبيق واحد
  </p>
  <p>
    اضافة امكانية تبادل البيانات (الرسائل مثلا)دون الحاجة الي اتصال هاتفي و كذالك دون الحاجة الي الانترنت
  </p>
 </div>
 <div>
   <h3>
     حول مجانية التطبيق
   </h3>
   <p>
     هذه النسخة مجانية و يمكن ان يتم من خلالها معالجة عمليات الشهر السابع و الثامن من هذا العام  2020
   </p>
   <p>
     بالبسبة لمن يريد استخدام التطبيق لمدة اطول فعليه الاتصال بنا
   </p>
 </div>
</ion-content>