<!--ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="message">
      <ion-icon name="square"></ion-icon>
      <ion-label>
        الرساثل
      </ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="caisse">
      <ion-icon name="square"></ion-icon>
      <ion-label>
    الصندوق
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="autrui">
      <ion-icon name="triangle"></ion-icon>
      <ion-label> 
        المؤسسة
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vaiida">
      <ion-icon name="images"></ion-icon>
      <ion-label> 
        الفاثدة
      </ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>

</ion-tabs-->
